.trusted-bg {
  text-align: center;
  height: 390px;
  background: url("../../assets/trusted-agency.png") no-repeat center right;
  background-blend-mode: screen;
  background-size: cover;
  background-color: black;
}
